.formControl {
    margin-bottom: 30px;
}

.formControl label {
    display: none;
}

.formControl input {
    display: block;
    width: 100%;
    color: #a9adb8;
    padding: 12px 20px;
    border: 1px solid #232935;
    background-color: #101624;
    height: 52px;
    border-radius: 7px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.formControl input:focus,
.formControl input:focus-visible {
    border-color: #fec544;
    outline: 0;
}

.formControl input::placeholder {
    color: #7b7b7b;
}