.st_hero {
    height: 710px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    background-color: #070D1B;
}

.st_hero h3 {
    font-size: 30px;
    margin-top: -6px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #fec544;
}

.st_hero h1 {
    font-size: 120px;
    margin-bottom: 24px;
    font-weight: 900;
    color: #fdfeff;
    line-height: 1;
}

.st_hero h2 {
    font-size: 36px;
    margin-bottom: 41px;
    font-weight: 300;
    color: #a9adb8;
}

@media screen and (max-width: 575px) {
    .st_hero {
        height: 580px;
    }

    .st_hero h1 {
        font-size: 90px;
    }
}